[submodule "django-passkeys"]
	path = django-passkeys
	url = git@github.com:yokwejuste/django-passkeys.git
[submodule "crafts-docs"]
	path = crafts-docs
	url = git@github.com:yokwejuste/crafts-docs.git
